/* TODO: Add sitewide styles */




body{

    display: flex; 
    background: linear-gradient(
        to right,
        rgb(111, 158, 173),
        lightBlue,
        rgb(218, 145, 81)

    );
    /* background-color: rgb(241, 210, 172); */
    justify-content: center;
}
