.logo {
    height: 130px;
    /* position: static; */
    position: relative;


}

.navcom{
    display: flex;
position: relative;
    /* max-width: none; */
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
background-color: rgb(244, 164, 96);
}
